/*
    24 de Octubre de 2022
    Autor:Juan Miguel Pardo Asensio
*/
*{ 
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

h1{ text-align: center;}


section{
    width: 70%;
    margin: auto;
    border: black double 3px;
    padding: 15px;
}

.listaDesordenada{ background-color: orange;}

.listaOrdenada{ background-color: royalblue;}

.listaDefiniciones{ background-color: greenyellow;}

ul li, ol li{ padding: 3px;}

ul li{
    list-style-type: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -5px;
    padding: 0px 0px 0px 25px;
}

ol ol{ list-style-type: lower-roman;}

ol ol ol{ list-style-type: lower-greek;}

dt{ 
    font-weight: bold;
    padding: 10px;
}

.placaBase{ background-image: url(./IMG/placa\ base.png); }

.cpu{ background-image: url(./IMG/cpu.png);}

.ram{ background-image: url(./IMG/memoria\ ram.png);}

.discoDuro{ background-image: url(./IMG/disco\ duro.png);}

.tarjetaGrafica{ background-image: url(./IMG/tarjeta\ grafica.png);}

.fuenteAlimentacion{ background-image: url(./IMG/fuente\ de\ alimentacion.png);}

.teclado{ background-image: url(./IMG/teclado.png);}

.raton{ background-image: url(./IMG/tarjeta\ grafica.png);}

.monitor{ background-image: url(./IMG/);}

.torre{ background-image: url(./IMG/torre.png);}