/*
    19 de Octubre de 2022
    Autor:Juan Miguel Pardo Asensio
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

.menuH a,.menuV a{
    background-color: #0000FF;
    color: rgb(255, 255, 255);
    text-decoration:none;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
}

body{
    background-color: bisque;
}

.menuH{
    width: 70%;
    margin: 20px auto 20px auto;
}

.menuV{
    width: 50%;
    float: left;
}

.menuH a:hover,.menuV a:hover{
    background-color: #3db6f7;
    color: black;
}

.menuV a{ 
    display: block;
    float: none;
    width: 30%;
}

