/*
    31 de Octubre de 2022
    Autor:Juan Miguel Pardo Asensio
*/

*{
    box-sizing: border-box;
}

header{
    margin: 30px;
    padding: auto;
    background-color: lightgreen;
    border: black solid 3px;
    border-radius: 20px;
    text-align: center;
}

body{
    background-image: url(./IMG/cesped.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.grid img{
    width: 90%;
    border: 3px solid black;
    margin: auto;
    transition: all 0.5s ease;
}


img:hover{
    transform: scale(0.8) rotate(15deg);
    border-radius: 30px;
}
