/*
    26 de Octubre de 2022
    Autor:Juan Miguel Pardo Asensio
*/
body{
    background-color: darkgoldenrod;
    color:darkblue;
    border: black solid 3px;
    border-radius: 10px;
    margin: 20px;
    padding: 60px
}
p{
    font-size: large;
}
h1{
    color: darkblue;
}
b{
    color: red;
}
i{
    color: red;
}
u{
    color: lightgreen;
}
span{
    color: yellow;
}
pre{
    font-size: large;
    color: white;
}
div pre{
    float: left;
}
div img{
    float: left;
    width: 20%;
    margin-top: 30px;
}
.alberto{
    overflow: auto;
}
