/*
    3 de Octubre de 2022
    Autor:Juan Miguel Pardo Asensio
*/

body{
    background-color: lightcyan;
    border: groove 7px dodgerblue;
    margin: 50px;
}

nav{
    text-align: center;
    margin: 25px;
}

a{
    text-decoration: none;
    color:rgb(48, 102, 172)
}

p{
    font-size: 50px;
    color: cornflowerblue;
    padding: 60px 30px 20px 30px;
}

div{
    display: flex;
    padding: 0px 20px 20px 20px; 
}

#viejo{
    width: 20%;
}

#uda{
    width: 10%;
    padding: 25px;
}

#paco{
    font-size: 30px;
}